.App {
  text-align: center;
}

/* nav */

nav {
  background: #444;
}
nav ul {
  list-style: none;
  display:flex;
  justify-content: center;
}

nav ul li {
  padding:1rem;
}

nav ul li a {
  color: #fff;
}